.features__container {
  padding: 2rem 4rem;
  display: flex;
}

.features__title {
  font-family: Manrope;
  font-size: 25px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: left;
  margin-right: 2rem;
  flex: 1;
}

.features__list {
  display: flex;
  flex: 1;
  flex-direction: column;
}

@media screen and (max-width: 950px) {
  .features__container {
    flex-direction: column;
  }
  .features__title {
    font-size: 15px;
    line-height: 2.5rem;
  }
}
